<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Сайт-портфолио начинающего веб-разработчика </title>
  
  <!-- Yandex.Metrika counter -->
    <script type="text/javascript" >
       (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
       m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
       (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");
    
       ym(56649568, "init", {
            clickmap:true,
            trackLinks:true,
            accurateTrackBounce:true
       });
    </script>
    <noscript><div><img src="https://mc.yandex.ru/watch/56649568" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
  <!-- /Yandex.Metrika counter -->
  
  <!--Fonts-->
  <link href="https://fonts.googleapis.com/css?family=Playball|Roboto:300,400,700&display=swap&subset=cyrillic"
    rel="stylesheet">
  <!--Favicon-->
  <link rel="apple-touch-icon" sizes="180x180" href="favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="favicon/favicon-16x16.png">
  <link rel="manifest" href="favicon/site.webmanifest">
  <!--Styles-->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="css/style.min.css">

</head>

<body>
  <div class="scrollbtn"><a class="upbtn" href="#"><span></span></a></div>
  <header class="header">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-lg-6 col-xl-9">
          <div><a href="#" class="header__mobile-btn"></a></div>
          <div class="header__content">
            <div class="header__logo"><a class="header__logo-link " href="/">Anton Vorobyov</a></div>
            <nav class="header__menu">
              <ul>
                <li class="active"><a href="/">Главная</a></li>
                <li><a href="portfolio/">Примеры работ</a></li>
              </ul>
            </nav>
          </div>
        </div>
        <div class="col-md-12 col-lg-6 col-xl-3">
          <div class="header__contacts">
            <div class="header__phone"><a href="tel:+79006295729">+7 (900) 629-57-29</a></div>
            <div class="header__email"><a href="mailto:a.a.vorobyev0@gmail.com">a.a.vorobyev0@gmail.com</a></div>
          </div>
        </div>
      </div>
    </div>
  </header>

  <main class="main">
    <div class="container">
      <section class="description">
        <div class="row">
          <div class="col-xl-12">
            <div class="jumbotron">
              <h1 class="jumbotron__title animated fadeInDown">Anton Vorobyov's Personal Website.</h1>
              <br>
              <p class="jumbotron__description animated fadeInDown delay-1s">Начинающий веб-разработчик,
                специализирующийся на front-end разработке и
                создании удобных сайтов с
                адаптивной версткой</p>
              <hr class="divider">
              <div class="row">
                <div class="col md-4">
                  <ul class="jumbotron__features animated fadeInDown delay-2s">
                    <li class="jumbotron__features-item ">HTML/HTML5, CSS/CSS3</li>
                    <li class="jumbotron__features-item ">Adobe Photoshop, Figma, Zeplin</li>
                    <li class="jumbotron__features-item ">LESS, SASS, SCSS</li>
                  </ul>
                </div>
                <div class="col-md-4">
                  <ul class="jumbotron__features animated fadeInDown delay-2s">
                    <li class="jumbotron__features-item">БЭМ, Git, Gulp 4</li>
                    <li class="jumbotron__features-item">Кроссбраузерная, адаптивная верстка</li>
                    <li class="jumbotron__features-item">Bootstrap 4</li>
                  </ul>
                </div>
                <div class="col-md-4">
                  <ul class="jumbotron__features animated fadeInDown delay-2s">
                    <li class="jumbotron__features-item">JS, jQuery, работа с DOM, событиями</li>
                    <li class="jumbotron__features-item">Спрайты, Retina, SVG</li>
                    <li data-toggle="tooltip" data-placement="bottom" title
                      data-original-title="Vue, Webpack, Ionic, React, AJAX" class="jumbotron__features-item"><span
                        class="jumbotron__tooltip">И многое другое<small> (в обозримом будущем)</small></span></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <hr>
      <section class="contact-me">
        <div class="row">
          <div class="col-xl-12">
            <h3 class="contact-me__title">Contact me</h3>
          </div>
          <div class="col-xl-12">
            <form class="contact-me__form" action="mail.php" method="POST">
              <input class="contact-me__input" type="text" name="username" maxlength="30" value="" placeholder="Имя"
                required>
              <input class="contact-me__input" type="text" name="usermail" maxlength="50" value=""
                placeholder="Email Address" required>
              <input class="contact-me__input" type="text" name="userphone" maxlength="30" value=""
                placeholder="Контактный телефон" required>
              <textarea class="contact-me__input textarea" name="usermessage" placeholder="Сообщение" cols="30" rows="2"
                required></textarea>
              <button id="contact-me__submit" type="submit">Отправить </button>
            </form>
          </div>
        </div>
      </section>
    </div>
  </main>
  <footer class="footer">
    <section class="social">
      <div class="container">
        <div class="row">
          <div class="col-xl-6">
            <h4 class="footer__social-title">Различные полезные ссылки: </h4>
            <div class="footer__social-links">
              <a class="footer__social-links-item footer__resume"
                href="https://spb.hh.ru/resume/5275a3edff075aa82c0039ed1f4d687a553455"> <span>Resume (hh)</span></a>
              <a class="footer__social-links-item footer__github" href="https://github.com/igelness">
                <span>GitHub</span>
              </a>
            </div>
          </div>
          <div class="col-xl-6">
            <h4 class="footer__social-title">Социальные сети: </h4>
            <ul class="footer__social-items">
              <li>
                <div class="footer__social-item"><a class="footer__vk" href="https://vk.com/id78226915"
                    target="_blank"></a></div>
              </li>
              <li>
                <div class="footer__social-item"><a class="footer__twitter" href="https://twitter.com/igelness"
                    target="_blank"></a>
                </div>
              </li>
              <li>
                <div class="footer__social-item"><a class="footer__google" href="/"></a></div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>
    <section class="copy">
      <div class="container-fluid">
        &copy; 2019, Антон Воробьёв
      </div>
    </section>
  </footer>


  <!--Bootstrap-->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
  
  <!--Libraries-->
  <script src="js/libs.min.js"></script>
  <script src="js/main.js?<?echo time();?>"></script>

</body>

</html>