<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Примеры работ</title>
<!-- Yandex.Metrika counter -->
<script type="text/javascript" >
   (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
   m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
   (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

   ym(56649568, "init", {
        clickmap:true,
        trackLinks:true,
        accurateTrackBounce:true
   });
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/56649568" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->

  <!--Fonts-->
  <link href="https://fonts.googleapis.com/css?family=Playball|Roboto:300,400,700&display=swap&subset=cyrillic"
    rel="stylesheet">
  <!--Favicon-->
  <link rel="apple-touch-icon" sizes="180x180" href="../favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="../favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="../favicon/favicon-16x16.png">
  <link rel="manifest" href="../favicon/site.webmanifest">
  <!--Styles-->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="media.css">
  <link rel="stylesheet" href="styleportfolioo.css">
  
</head>

<body>
  <header class="header portfolio__header">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-lg-6 col-xl-9">
          <div><a href="#" class="header__mobile-btn"></a></div>
          <div class="header__content">
            <div class="header__logo"><a class="header__logo-link " href="/">Anton Vorobyov</a></div>
            <nav class="header__menu">
              <ul>
                <li><a href="/">Главная</a></li>
                <li class="active"><a href="../portfolio/">Примеры работ</a></li>
              </ul>
            </nav>
          </div>
        </div>
        <div class="col-md-12 col-lg-6 col-xl-3">
          <div class="header__contacts">
            <div class="header__phone"><a href="tel:+79006295729">+7 (900) 629-57-29</a></div>
            <div class="header__email"><a href="mailto:a.a.vorobyev0@gmail.com">a.a.vorobyev0@gmail.com</a></div>
          </div>
        </div>
      </div>
    </div>
  </header>

  <main class="main">
    <div class="container">
      <div class="row">
        <div class="col-xl-12">
          <div>
            <h1 class="portfolio__title">Примеры работ</h1>
          </div>
        </div>
        <div class="col-md-12 col-lg-6 col-xl-4">
          <div class="portfolio__item">
            <div class="portfolio__item-content">
              <img class="portfolio__image" src="img/portfolio-item2-bg.png" alt="Сайт по оплате штрафов">
              <div class="portfolio__item-github">
                <a class="portfolio__link" href="https://github.com/Igelness/tprs-test"><img
                    class="portfolio__link-img" src="img/portfolio-github.png" alt=""></a>
              </div>
              <div class="portfolio__item-link">
                <a class="portfolio__link" href="../sites/tprs-test/"><img class="portfolio__link-img"
                    src="img/portfolio-site.png" alt=""></a>
              </div>
            </div>
            <div class="portfolio__text">
              <div class="portfolio__item-title">Сайт по оплате штрафов</div>
              <div class="portfolio__item-description">Оплата штрафов, задолженностей, пошлин</div>
            </div>
          </div>
        </div>
        <div class="col-md-12 col-lg-6 col-xl-4">
          <div class="portfolio__item">
            <div class="portfolio__item-content">
              <img class="portfolio__image" src="img/portfolio-item1-bg.png" alt="Интернет-магазин Мята">
              <div class="portfolio__item-github">
                <a class="portfolio__link" href="https://github.com/Igelness/mint-onlinestore"><img class="portfolio__link-img"
                    src="img/portfolio-github.png" alt=""></a>
              </div>
              <div class="portfolio__item-link">
                <a class="portfolio__link" href="../sites/mint-onlinestore/"><img class="portfolio__link-img"
                    src="img/portfolio-site.png" alt=""></a>
              </div>
            </div>
            <div class="portfolio__text">
              <div class="portfolio__item-title">Интернет-магазин Мята</div>
              <div class="portfolio__item-description">Главная страница интернет-магазина</div>
            </div>
          </div>
        </div>
        <div class="col-md-12 col-lg-6 col-xl-4">
          <div class="portfolio__item">
            <div class="portfolio__item-content">
              <img class="portfolio__image" src="img/portfolio-item3-bg.png" alt="Сайт строительной компании">
              <div class="portfolio__item-github">
                <a class="portfolio__link" href="https://github.com/Igelness/heavy-con"><img class="portfolio__link-img"
                    src="img/portfolio-github.png" alt=""></a>
              </div>
              <div class="portfolio__item-link">
                <a class="portfolio__link" href="../sites/heavy-con/"><img class="portfolio__link-img"
                    src="img/portfolio-site.png" alt=""></a>
              </div>
            </div>
            <div class="portfolio__text">
              <div class="portfolio__item-title">Сайт строительной компании</div>
              <div class="portfolio__item-description">Сайт-визитка</div>
            </div>
          </div>
        </div>
        <div class="col-md-12 col-lg-6 col-xl-4">
          <div class="portfolio__item">
            <div class="portfolio__item-content">
              <img class="portfolio__image" src="img/portfolio-item4-bg.png" alt="Сайт-портфолио веб-студии">
              <div class="portfolio__item-github">
                <a class="portfolio__link" href="https://github.com/Igelness/Marble"><img class="portfolio__link-img"
                    src="img/portfolio-github.png" alt=""></a>
              </div>
              <div class="portfolio__item-link">
                <a class="portfolio__link" href="../sites/Marble/"><img class="portfolio__link-img"
                    src="img/portfolio-site.png" alt=""></a>
              </div>
            </div>
            <div class="portfolio__text">
              <div class="portfolio__item-title">Агентство сайт-визитка</div>
              <div class="portfolio__item-description">Landing page </div>
            </div>
          </div>
        </div>
        <div class="col-md-12 col-lg-6 col-xl-4">
          <div class="portfolio__item">
            <div class="portfolio__item-content">
              <img class="portfolio__image" src="img/portfolio-item5-bg.png" alt="Письмо-портфолио">
              <div class="portfolio__item-github">
                <a class="portfolio__link" href="https://github.com/Igelness/mail-portfolio"><img
                    class="portfolio__link-img" src="img/portfolio-github.png" alt=""></a>
              </div>
              <div class="portfolio__item-link">
                <a class="portfolio__link" href="../sites/mail-portfolio/"><img class="portfolio__link-img"
                    src="img/portfolio-site.png" alt=""></a>
              </div>
            </div>
            <div class="portfolio__text">
              <div class="portfolio__item-title">Письмо-портфолио</div>
              <div class="portfolio__item-description">Верстка письма с рекламной информацией</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>

  <footer class="footer portfolio__footer">
    <section class="copy">
      <div class="container-fluid">
        &copy; 2019, Антон Воробьёв
      </div>
    </section>
  </footer>

  <!--Bootstrap-->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
  <!--Libraries-->
  <script src="../js/libs.min.js"></script>
  <script src="../js/main.js"></script>
</body>

</html>