@media (min-width: 510px) and (max-width: 991px) {
  .header__menu,
  .header__contacts {
    display: flex !important;
  }
}

@media (min-width: 992px) {
  .header__menu,
  .header__contacts {
    display: block !important;
  }
}

@media (max-width: 1199px) {
  .footer__social-title {
    padding-top: 25px;
  }
  .footer__social-items {
    display: flex;
    justify-content: center;
    margin-left: 0;
    padding-bottom: 30px;
  }
}

@media (max-width: 991px) {
  .header__contacts {
    display: flex;
    justify-content: start;
    margin-left: 30px;
  }

  .header__phone {
    margin-top: 10px;
    padding-bottom: 15px;
  }
  * {
    animation: none !important;
  }
  .footer__social-links-item {
    margin-bottom: 15px;
  }

  .portfolio__item {
    margin: 0 auto;
  }

  .portfolio__item-github,
  .portfolio__item-link {
    display: inline-block;
  }

  .portfolio__title {
    text-align: center;
    font-size: 28px;
  }

  .portfolio__title-sub {
    display: none;
  }
  
  .portfolio__item-content:hover {
      filter: none;
  }

  .portfolio__link {
    background-color: #fff;
  }
}

@media (max-width: 767px) {
  .scrollbtn {
    display: none !important;
  }

  .contact-me__input {
    font-size: 16px;
  }
  .contact-me__submit {
    font-size: 16px;
  }
}

@media (max-width: 509px) {
  .header__contacts,
  .header__menu {
    display: none;
  }

  .header__menu {
    margin-top: 15px;
    margin-left: 25px;
  }

  .header__logo {
    margin-left: 25px;
  }

  .header__contacts {
    float: left;
  }

  .header__mobile-btn {
    display: inline-block;
  }

  .header__content {
    display: block;
  }

  .header__email:before {
    top: -1px;
  }
}

@media (max-width: 400px) {
  .portfolio__item-content {
    max-height: 138px;
  }
  .portfolio__item {
    max-width: 280px;
  }

  .portfolio__image {
    max-width: 280px;
  }
  .portfolio__text {
    padding-top: 15px;
    background-color: #f5f5f5;
    width: 280px;
    border-bottom: 2px solid #eee;
  }
}
